**/downloads
# my python envs, one is 3.11 (main) and the other is 3.14
**/env
**/314

# renamed from .envv
.env

*config.pkl

# watch command logs
**/logs

__pycache__
other_accounts

todo
ideas
slowburn_stories/

.env_backup*

affix_settings.json
**/custom_commands.json

# marketplace submission bot: https://discord.gg/DH2KHqS2hq
mp_sub.py

website