discord.py
aiohttp
requests
yt_dlp
Pillow
gTTS
redgifs
pyfiglet
scipy
numpy
soundfile
python-barcode
python-dotenv
psutil
googletrans==4.0.0-rc1
alexflipnote.py
watchdog
audioop-lts
matplotlib
customtkinter
simpleeval
pystray
